/*border radius*/
.border-radius{
  border: blue dashed 12px;
  width: 50px;
  height:50px;
  border-radius: 100%;
}
/* border img */
.border-img{
  height: 240px;
  width: 240px;
  position: relative;
  background-image: url(images/abstract.jpeg);
  padding: 300px;
  left: 25px;
  transition-duration: 300ms;
}
.border-img:hover{
  padding: 400px;
}
/* wordwrap 8 */
.wrap{
  width: 90px;
  overflow-wrap: break-word;
  background: gray;
  color: blue;
}
/* gradient */
.gradient{
  width: 200px;
  height:200px;
  background-color: red;
  background: repeating-radial-gradient(rgba(255, 255, 255, 0),red 30%);
  background: -webkit-repeating-radial-gradient(rgba(255, 255, 255, 0),red 30%);
  background: -moz-repeating-radial-gradient(rgba(255, 255, 255, 0),red 30%);
  background: -o-repeating-radial-gradient(rgba(255, 255, 255, 0),red 30%);
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(grey,black,red);
}
/* transition */
.transition{
  width: 200px;
  height:200px;
  background: repeating-radial-gradient(rgba(255, 255, 255, 0),red 30%);
  transition: height 2s, width 5s, transform 2s;
}
.transition:hover{
  height: 100px;
  width: 100px;
}
/* O */
.img-o{
  height: 200px;
  width: 200px;
  opacity: 1;
}
.img-o-half{
  height: 200px;
  widows: 200px;
  opacity: .5;
}
.img-o-quart{
  height: 200px;
  width: 200px;
  opacity: .25;
}
/* stephan */
.block{
  height: 300px;
  width: 150px;
  border-top: 1px solid black;
  overflow-y: scroll;
}
/* david */
.example1{
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('images/w3schools.png'), linear-gradient(to right, blue 0%, white 100%);
}
.align1{text-align: left;}
.align2{text-align: center;}
.column{
  column-count: 2px;
  column-gap: 40px;
}
.shadow{
  height: 200px;
  width: 200px;
  background-color: purple;
  box-shadow: 20px 20px 50px 20px black;
  float: right;
}
.resizeable{
  width: 300px;
  height: 300px;
  background-color: red;
  overflow: auto;
  resize: both;
}
.stroke{
  font-size: 20px;
}
#ani{
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
  animation-name: ani;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: white;
}
@keyframes ani {
  0% {background-color: black;left:0px;}
  50% {background-color: red;
  left: 100px;}
  100% {background-color: black; left: 0px;}
}
.why{
  width: 100px;
  height: 100px;
  background: purple;
  position: relative;
  animation-delay: 3s;
  @-webkit-keyframes helo{
    from {left}
  }
}
